# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Docker
postgres_data/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
